body{
    margin: 0%;
    padding: 0%;
}


  
#navegador{
    display:flex ;
    justify-content: center;
  
    /*height: min-content;*/
}
.menu ul {
    display: flex;
    justify-content: space-between;
    
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    list-style: none;
}


ul{
    list-style: none;
  }
  .menu li>a{
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  .menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  .menu>li{
    float: left;
    text-align:center
  }
  .menu>li>ul{
    display: none;
  }
  .menu>li:hover>ul {
    display:block;
  }


  #botones{
    margin: 5%;
    text-align: center;
  } 

  .formularios{
  
position: absolute;
right: 20%;
left: 20%;
text-align: center;



  }
  .formularios_no_mostrar{
 
    display: none;
  }

  #turno{
    border: 1px solid black;
    border-style: double;
    border-width: 5px;
   border-radius: 10%;
    
  
  }
.campos{
  width: fit-content;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;

}

.error{

background-color: pink;
}